#   SSL Engine Switch:
#   Enable/Disable SSL for this virtual host.
SSLEngine on

SSLCertificateFile    /etc/letsencrypt/live/www.comicwiki.dk/cert.pem
SSLCertificateKeyFile /etc/letsencrypt/live/www.comicwiki.dk/privkey.pem
SSLCertificateChainFile /etc/letsencrypt/live/www.comicwiki.dk/chain.pem
