# /etc/securetty: list of terminals on which root is allowed to login.
# See securetty(5) and login(1).

console

# ==========================================================
#
# TTYs sorted by major number according to Documentation/devices.txt
#
# ==========================================================

# Virtual consoles
tty1
tty2
tty3
tty4
tty5
tty6
