@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// for printable sections that need to be hidden
@media print {
	.ns--1 .ambox,
	.ns-0 .ambox,
	.ns--1 .navbox,
	.ns-0 .navbox,
	.ns--1 .vertical-navbox,
	.ns-0 .vertical-navbox,
	.ns--1 .infobox.sisterproject,
	.ns-0 .infobox.sisterproject,
	.ns--1 .hatnote,
	.ns-0 .hatnote,
	.ns--1 .dablink,
	.ns-0 .dablink,
	.ns--1 .metadata,
	.ns-0 .metadata,
	.sistersitebox,
	.editlink,
	.navbar,
	a.NavToggle,
	span.collapseButton,
	span.mw-collapsible-toggle,
	th .sortkey,
	td .sortkey,
	#mw-revision-nav {
		display: none !important
	}
	.nourlexpansion a.external.text:after,
	.nourlexpansion a.external.autonumber:after {
		display: none !important
	}
	table.collapsible tr,
	div.NavContent {
		display: block !important
	}
	table.collapsible tr {
		display: table-row !important
	}
	.mw-parser-output .mw-collapsed .mw-collapsible-content {
		display: block !important
	}
	.mw-parser-output table.mw-collapsed>*>tr {
		display: table-row !important
	}
	.mw-parser-output ol.mw-collapsed>li,
	.mw-parser-output ul.mw-collapsed>li {
		display: list-item !important
	}
	#firstHeading {
		margin: 0
	}
	#content a.external.text:after,
	#content a.external.autonumber:after {
		word-wrap: break-word
	}
	.infobox {
		border: solid 1px #aaa;
		background-color: #fff;
		border-spacing: 0;
		border-collapse: collapse;
		width: 180pt !important
	}
	.infobox>*>tr>td,
	.infobox>*>tr>th {
		padding: 2px 5px;
		border-bottom: 1px solid #EAECF0
	}
	.infobox a,
	.infobox>*>tr:last-child>th,
	.infobox>*>tr:last-child>td {
		border: 0
	}
	.refbegin a,
	.references a,
	.reference a {
		color: black !important
	}
	.reference a {
		border-bottom: 0
	}
	ol.references,
	div.reflist,
	div.refbegin,
	cite * {
		font-size: inherit !important
	}
	.refbegin li,
	.references li {
		color: #666;
		line-height: 14pt
	}
	.printfooter {
		clear: both
	}
}

/**
 * Generelt layout
 */
body.mediawiki {
  background-color: #eef3f5;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  color: #000308;
}
body.mediawiki a:link,
body.mediawiki a:active {
  color: #002bb8;
  text-decoration: none;
}
body.mediawiki a:hover {
  text-decoration: underline;
  color: #000308;
}
body.mediawiki a:visited {
  text-decoration: none;
}
body.mediawiki .new a {
  color: #db3900;
}
body.mediawiki a:visited {
  color: #5a3696;
}
body.mediawiki a:active {
  color: #faa700;
}
body.mediawiki a.stub {
  color: #772233;
}
body.mediawiki a.new,
body.mediawiki #p-personal a.new {
  color: #ba0000;
}
body.mediawiki a.new:visited,
body.mediawiki #p-personal a.new:visited {
  color: #a55858;
}
body.mediawiki #content {
  position: relative;
  padding: 0 0 40px 0;
  clear: both;
  margin: 0;
}
body.mediawiki #bodyContent {
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px 20px 30px 20px;
}
body.mediawiki #bodyContent::after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

/**
   Ikoner ved specielle links
*/
body.mediawiki a[href^="http://nummer9.dk"].external,
body.mediawiki a[href^="https://nummer9.dk"].external {
  background: transparent url("/resources/comicwiki/images/Icon_Nummer_9_MM.gif") center right no-repeat;
  padding-right: 18px;
}

body.mediawiki a[href^="https://coa.inducks.org"].external,
body.mediawiki a[href^="https://inducks.org"].external,
body.mediawiki a[href^="http://coa.inducks.org"].external
{
  background: transparent url("/resources/comicwiki/images/Icon_inducks.gif") center right no-repeat;
  padding-right: 18px;
}

body.mediawiki a[href^="http://ddfr.dk"].external,
body.mediawiki a[href^="https://www.ddfr.dk"].external,
body.mediawiki a[href^="http://www.ddfr.dk"].external,
body.mediawiki a[href^="https://ddfr.dk"].external
{
  background: transparent url("/resources/comicwiki/images/Icon_ddfr.gif") center right no-repeat;
  padding-right: 18px;
}

body.mediawiki a[href^="http://www.planetpulp.dk"].external,
body.mediawiki a[href^="http://planetpulp.dk"].external
{
  background: transparent url("/resources/comicwiki/images/Icon_Planet_Pulp.gif") center right no-repeat;
  padding-right: 18px;
}

/**
 * Responsive til specifikke sektioner
 */
@media only screen and (max-width: 740px) {
  body.page-Forside #mw-content-text table,
  body.page-Forside #mw-content-text table td,
  body.page-Forside #mw-content-text table th,
  body.page-Forside #mw-content-text table tr,
  body.page-Forside #mw-content-text table tbody {
    display: block;
    width: auto;
  }

  #bodyContent .aib table,
  #bodyContent .aib table td,
  #bodyContent .aib table th,
  #bodyContent .aib table tr,
  #bodyContent .aib table tbody {
    display: block;
    width: 100%;
  }
  #bodyContent .aib .aib-image img {
    max-width: 100%;
    min-width: 0;
    width: auto;
    height: auto;
    display: block;
    margin: -35px auto 10px auto;
  }
}
#p-logo a {
  display: block;
  width: 136px;
  height: 76px;
  margin-top: 20px;
}

#mw-navigation {
  margin-top: 30px;
}

#p-contentnavigation {
  margin: 20px 0 0 0;
  padding: 0 10px;
  text-align: left;
  background-color: #99bcde;
  border-radius: 10px 10px 0 0;
  border-bottom: 4px solid #4867a5;
}
#p-contentnavigation a {
  display: block;
  padding: 3px 6px;
}
#p-contentnavigation .selected a {
  -webkit-box-shadow: inset 0 4px 0 0 #eef3f5, inset 0 -4px 4px 0 #99bcde, inset 0 4px 4px 0 rgba(0, 43, 184, 0.75), inset 0px 30px 6px -10px rgba(102, 151, 198, 0.75);
          box-shadow: inset 0 4px 0 0 #eef3f5, inset 0 -4px 4px 0 #99bcde, inset 0 4px 4px 0 rgba(0, 43, 184, 0.75), inset 0px 30px 6px -10px rgba(102, 151, 198, 0.75);
  color: #fff;
  font-weight: bold;
  font-style: normal;
}

.contentHeader {
  margin: 0;
}

.navbar-default {
  border: none;
  background: none;
}
.navbar-default .navbar-nav > li > a {
  color: #002bb8;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #000308;
}

#p-search {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

/**
 * Brugermenu
 */
#p-personal {
  background-color: #99bcde;
  padding: 3px 10px;
  border-radius: 0 0 10px 10px;
}

#p-personal h3,
#p-personal h5 {
  display: none;
}

#p-personal #pt-userpage {
  font-weight: bold;
  border-right: 1px dotted #4867a5;
  padding-right: 10px;
}

/**
 * Andet
 */
#catlinks {
  margin-top: -10px;
  clear: both;
  border-top: 4px solid #4867a5;
  background-color: #99bcde;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

#catlinks ul li {
  border-color: #000;
  margin-right: 4px;
}

#toc {
  padding: 10px;
  background: #eef3f5;
  border-radius: 10px;
  width: 50%;
  min-width: 240px;
  margin: 20px 0;
}
#toc .toctitle {
  margin-bottom: .5em;
}
#toc .toctitle h2 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}

#mw-content-text ul {
  list-style: inside square;
}
#mw-content-text ul li.normal {
  list-style: none;
}
#mw-content-text ul li.current {
  list-style: none;
  font-weight: bold;
}
#mw-content-text h2,
#mw-content-text h3,
#mw-content-text h4,
#mw-content-text h5,
#mw-content-text h6 {
  padding-top: 1em;
  margin-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

#contentSub {
  background: #fff;
  padding: 0 25px;
}

/**
 * Bootstrap overrides
 */
.col-lg-12 {
  min-height: 0;
}

.panel-primary {
  border-color: #4867a5;
}
.panel-primary > .panel-heading {
  background-color: #4867a5;
  border-color: #4867a5;
}

.panel-success {
  border-color: #6ab458;
}
.panel-success > .panel-heading {
  color: #fff;
  background-color: #6ab458;
  border-color: #6ab458;
}

/**
 * Sidefod
 */
.footer-info {
  font-size: 85%;
  padding-left: 0;
}

#footer-icons {
  display: none;
}

#p-tb {
  background: #c3d5e7;
  margin-bottom: 40px;
  border-radius: 10px;
}

/**
 * Specialsider
 */
#firstHeading {
  background: #fff;
  margin: 0;
  padding: 15px 20px 10px 20px;
  border-bottom: 1px solid #aaa;
  word-wrap: break-word;
}

body.mw-special-Recentchanges #firstHeading {
  margin: 0;
  padding: 10px 20px 10px 20px;
  background: #ffcf6c;
  border-bottom: 0;
  color: #452d21;
}

body.mw-special-Recentchanges #contentSub {
  background: #fee7b7;
  margin: -20px -20px 0 -20px;
  padding: 0 20px;
}

body.mw-special-Recentchanges .mw-specialpage-summary {
  display: none;
}

.rcoptions {
  background: #fee7b7;
  margin: -20px -20px 0 -20px;
  padding: 10px 20px;
  border: 0;
  border-bottom: 4px solid #d3a545;
}

.rcoptions legend,
.rcoptions hr {
  display: none;
}

.mw-recentchanges-table {
  margin-top: 20px;
  background: none;
}

.mw-changeslist-legend {
  border: 1px solid #d3a545;
}

/* Billeder */
body.ns-6 #firstHeading {
  background: #f1832a;
  border-bottom: 0;
  color: #fff;
}

/**
 * Forside
 */
.page-Forside .firstHeading,
.page-Forside #siteSub {
  display: none;
}

.forsideintro {
  margin: -20px -20px 0 -20px;
  padding: 20px;
}

/**
 * Bokse brugt rundt omkring
 * - Album bokse
 * - Person bokse
 * - Oversigts bokse
 */
/* Disambiguation link */
.dablink {
  margin-left: 2em;
}

/* Billeder */
.fullImageLink {
  text-align: center;
  margin-bottom: 2em;
  font-size: 8.5pt;
}
.fullImageLink small {
  font-size: 10pt;
}

/* Copyright og info boxe */
.copyright,
.info {
  font-size: 8.5pt;
  clear: both;
  background-color: #f9f9f9;
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 1em 0 1.5em 0;
}
.copyright th,
.copyright th,
.info th,
.info th {
  text-align: left;
  color: #fff;
  padding: 2px 5px;
  vertical-align: top;
}

/**
 * Generelle infoboxe @todo
 */
.info {
  margin: .5em 0;
}
.info code {
  font-size: 170%;
}
.info th {
  background: #242C8A;
}
.info td.overskrift {
  background: #A3A8E7;
}

.copyright th,
.notice th {
  background: #F1832A;
}
.copyright hr,
.notice hr {
  border: 0;
  background-color: #F1832A;
  height: 1px;
  margin: 0 -5px;
}
.copyright td.overskrift,
.copyright td.overskrift,
.notice td.overskrift,
.notice td.overskrift {
  background: #FFA640;
}

.greycommons th {
  background: #242C8A;
}
.greycommons td.overskrift {
  background: #A3A8E7;
}

.pd th {
  background: #84AA0F;
}
.pd td.overskrift {
  background: #B3E714;
}

.bruger-infobox {
  width: 200px;
  background: #fee7b7;
}
.bruger-infobox th {
  text-align: center;
  background: #fee7b7;
}
.bruger-infobox .alt {
  background: #fff7e6;
}

/**
 * Person Infoboks
 */
.person-infobox.infobox {
  width: auto;
}
.person-infobox.infobox th.overskrift {
  color: #fff;
  background: #835206;
}
.person-infobox.infobox th {
  padding: 0px;
  text-align: center;
  background: #fee7b7;
}
.person-infobox.infobox ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.person-infobox.infobox li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.infobox {
  float: right;
  font-size: 80%;
  border-collapse: collapse;
  background: #f0f0f0;
  margin-bottom: 1.5em;
  margin-left: 5px;
}
.infobox table {
  border-collapse: collapse;
}
.infobox th,
.infobox td {
  padding: 2px 5px;
}
.infobox p {
  margin: 0;
  padding: 2px 0;
}
.infobox th {
  padding: 2px;
  text-align: center;
}
.infobox td.billede {
  padding: 0;
}

.billedstub {
  padding: 1em 0 1em 35px;
  margin: 5px;
  background: url(images/icon_stub.gif) no-repeat left 0.85em;
  text-align: left;
}

/**
 * Superhelte infobokse
 */
.superhelte-infobox {
  width: 250px;
}
.superhelte-infobox th.overskrift {
  color: #fff;
  background: #470077;
}
.superhelte-infobox th {
  padding: 0px;
  text-align: center;
  background: #CF84C4;
}
.superhelte-infobox .billede {
  background: #CF84C4;
}
.superhelte-infobox .billede img {
  margin: 5px 0 0 0;
}
.superhelte-infobox ul,
.superhelte-infobox li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.dc th.overskrift {
  background: #0F2E4F;
}
.dc th {
  background: #5C9BE0;
}
.dc .billede {
  background: #5C9BE0;
}

.marvel th.overskrift {
  background: #660002;
}
.marvel th {
  background: #FF040B;
}
.marvel .billede {
  background: #FF040B;
}

/**
 * Album Infoboks
 */
.aib {
  font-size: 10pt;
  margin-bottom: 1.5em;
  position: relative;
  margin-bottom: 60px;
}
.aib strong {
  margin: 0;
  padding: 3px 10px;
  padding: 3px 10px 3px 20px;
  display: block;
  background: #eee;
  color: #000;
}
.aib table {
  background: #fff;
}

.aib-columns {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  border-bottom: 4px solid #494949;
  margin: 4px 0px 0px 0px;
}
.aib-columns tr,
.aib-columns td,
.aib-columns th,
.aib-columns p {
  vertical-align: top;
  border-collapse: collapse;
  padding: 0;
  border: 0;
  margin: 0;
}

.aib-contents {
  position: relative;
}
.aib-contents th {
  background: #494949;
  color: #fff;
  font-size: 11pt;
}
.aib-contents th,
.aib-contents td {
  padding: 3px 10px 3px 20px;
}

.aib-image img {
  clear: both;
  min-width: 300px;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 4px;
  margin-bottom: -35px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

#bodyContent .aib-contents ul,
#bodyContent .aib-contents li,
#bodyContent .nobullets li {
  margin-left: 0;
  list-style: none;
}

.aib-isbn {
  margin-left: 0;
}
.aib-contents li,
.aib-isbn p {
  padding: 3px 5px;
}

#bodyContent .aib-isbn ul li {
  line-height: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.aib-nextprev {
  background: 0;
  width: 100%;
  font-size: 8.5pt;
  margin-bottom: 30px;
}

.aib-nextprev td {
  border-bottom: 1px solid #fff;
}

.aib-nextprev strong {
  margin-bottom: 5px;
}

.aib-nextprev br {
  display: none;
}

.aib-next,
.aib-prev,
.aib-curr {
  color: #000;
  background: #eee;
}

.aib-prev {
  padding-left: 5px;
}

.aib-curr {
  text-align: center;
}

.aib-next {
  padding-right: 5px;
  text-align: right;
}

.aib-next a,
.aib-prev a,
.aib-curr a {
  color: #000;
  text-decoration: underline;
}

.aib-contents span.g {
  position: relative;
  padding: 5px 10px 6px 0;
  border-right: 1px dotted #ccc;
  margin-right: 10px;
}

.aib-contents span.g.w {
  padding: 5px 20px 5px 0;
}

.alt {
  background: #fff;
}

span.nr {
  font-size: 18pt;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  margin: -22px 0 0 0;
  right: 10px;
  background: #494949;
  border-radius: 50%;
  white-space: nowrap;
  line-height: 24px;
  width: 64px;
  height: 64px;
}

/**
 * Serie oversigt
 */
div.oversigt {
  background-color: #f9f9f9;
  margin: 10px 0 20px 0;
  clear: both;
  font-size: 8.5pt;
  text-align: center;
  border: 0;
  border-bottom: 12px solid #c3d5e7;
  border-bottom: 8px solid #c3d5e7;
  border-radius: 6px 6px 0 0;
}
div.oversigt .NavHead {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  position: relative;
  line-height: 22px;
  background: #c3d5e7;
  border-radius: 6px 6px 0 0;
  border-bottom: 4px solid #99bcde;
}
div.oversigt .NavFrame .NavHead {
  font-size: 100%;
  background: #eee;
  border-radius: 0px;
  border: 0;
}
div.oversigt .NavFrame p {
  padding: 6px 12px;
}
div.oversigt .NavContent ul,
div.oversigt .NavContent ol {
  list-style: none;
}
div.oversigt .NavContent ul li,
div.oversigt .NavContent ol li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}
div.oversigt .NavContent .NavFrame .NavHead {
  margin-top: 1px;
}
div.oversigt .NavToggle {
  position: absolute;
  right: 5px;
  top: 2px;
  font-weight: normal;
  z-index: 0;
  display: block;
  width: 19px;
  height: 19px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("/resources/comicwiki/btn_oversigt.png") no-repeat right center;
}
div.oversigt .NavContent .NavToggle {
  background: url("/resources/comicwiki/btn_oversigt_inner.png") no-repeat right center !important;
}
div.NavHead a.selflink,
div.NavContent a.selflink {
  color: inherit;
  font-weight: bold;
}
div.NavHead a.selflink:hover,
div.NavContent a.selflink:hover {
  text-decoration: none;
}

/**
 * Bokse (streg øverst og nederst)
 */
.box {
  padding: 0;
  margin: 0 0 10px 0;
}

.box th,
.box td {
  padding: 0;
}

.box h3,
.box strong {
  display: block;
  padding: 0 .75em 1px .75em;
  margin: 0;
  color: #000;
  font-size: 10pt;
}

.box hr {
  border: 0;
  height: 1px;
  clear: both;
}

.box p,
.box ul,
.box ol {
  padding: .5em .75em;
}

.box .editsection {
  display: none;
}

.box-small {
  text-align: center;
  padding: .5em .75em;
  background-color: #c4c8ff;
  padding: 0;
  font-size: 100%;
}

.box-thin {
  text-align: center;
  padding: .25em .75em;
  background-color: #c4c8ff;
  padding: 0;
  font-size: 80%;
}

/**
 * Farver
 */
.box {
  background: #fff;
  border-top: 3px solid #c3d5e7;
  border-bottom: 3px solid #c3d5e7;
}

.box h3,
.box strong,
.box hr {
  background-color: #c3d5e7;
}

/* Grey */
.boxgrey {
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}

.boxgrey h3,
.boxgrey strong,
.boxgrey hr {
  background-color: #ccc;
}

/* Blue */
.boxsystem {
  border-top: 3px solid #99bcde;
  border-bottom: 3px solid #99bcde;
}

.boxsystem h3,
.boxsystem strong,
.boxsystem hr {
  background-color: #99bcde;
}

/* Medium blue */
.boxblue {
  border-top: 3px solid #5698db;
  border-bottom: 3px solid #5698db;
}

.boxblue h3,
.boxblue strong,
.boxblue hr {
  background-color: #5698db;
}

/* Darker blue */
.boxdarkblue {
  border-top: 3px solid #3f79b3;
  border-bottom: 3px solid #3f79b3;
}

.boxdarkblue h3,
.boxdarkblue strong,
.boxdarkblue hr {
  background-color: #3f79b3;
}

/* Orange */
.boxorange {
  border-top: 3px solid #ffa640;
  border-bottom: 3px solid #ffa640;
}

.boxorange h3,
.boxorange strong,
.boxorange hr {
  background-color: #ffa640;
}

/* Dark orange */
.boxdarkorange {
  border-top: 3px solid #F1832A;
  border-bottom: 3px solid #F1832A;
}

.boxdarkorange h3,
.boxdarkorange strong,
.boxdarkorange hr {
  background-color: #F1832A;
}

/* Light orange */
.boxlightorange {
  border-top: 3px solid #FFCF6C;
  border-bottom: 3px solid #FFCF6C;
}

.boxlightorange h3,
.boxlightorange strong,
.boxlightorange hr {
  background-color: #FFCF6C;
}

/* Yellow */
.boxyellow {
  border-top: 3px solid #fee7b7;
  border-bottom: 3px solid #fee7b7;
}

.boxyellow h3,
.boxyellow strong,
.boxyellow hr {
  background-color: #fee7b7;
}

/* Dark yellow */
.boxdarkyellow {
  border-top: 3px solid #d3a545;
  border-bottom: 3px solid #d3a545;
}

.boxdarkyellow h3,
.boxdarkyellow strong,
.boxdarkyellow hr {
  background-color: #d3a545;
}

/* Green */
.boxgreen {
  border-top: 3px solid #6ab458;
  border-bottom: 3px solid #6ab458;
}

.boxgreen h3,
.boxgreen strong,
.boxgreen hr {
  background-color: #6ab458;
}

/* Red */
.boxred {
  border-top: 3px solid #F25613;
  border-bottom: 3px solid #F25613;
}

.boxred h3,
.boxred strong,
.boxred hr {
  background-color: #F25613;
}

/* Purple */
.boxpurple {
  border-top: 3px solid #CF84C4;
  border-bottom: 3px solid #CF84C4;
}

.boxpurple h3,
.boxpurple strong,
.boxpurple hr {
  background-color: #CF84C4;
}

/* Pink */
.boxpink {
  border-top: 3px solid #FF33CC;
  border-bottom: 3px solid #FF33CC;
}

.boxpink h3,
.boxpink strong,
.boxpink hr {
  background-color: #FF33CC;
}

/**
 * Portaler
 */
.portaler {
  background: #D8D9DF;
  margin: 0 -20px 0 -20px;
  border-top: 4px solid #898279;
  padding: 3px 20px;
}

.portaler h2 {
  margin-top: -10px;
}

.portaler h2 {
  color: #898279;
  font-size: 100%;
  padding-top: 13px;
  border-bottom: 0;
  width: 100px;
  float: left;
}

.portal {
  position: absolute;
  top: 39px;
  right: 10px;
  border: 1px solid #aaa;
  background: #f9f9f9;
  padding: 0 5px;
  margin: 0 0 0 0.5em;
  font-size: 85%;
  height: 40px;
}

.portallink {
  width: 11.5%;
  float: left;
  text-align: center;
}

.portalintro {
  position: relative;
  z-index: 1;
  margin-top: -85px;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: #7bc279;
}
.portalintro h1 {
  color: #253b25;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background: #449941;
  border-bottom: 0;
  margin-top: 0;
}

.portalbox {
  border: 3px solid #5698DB;
  position: relative;
  border-left: 0 !important;
  border-right: 0 !important;
  padding: 0 5px !important;
  min-height: 250px;
  margin-bottom: 20px;
}

.portalbox h3, .portalbox strong, .portalbox hr {
  background-color: #5698DB;
  display: block;
  margin: 0 -5px 10px -5px !important;
  padding: 0 10px 2px 10px;
}

/**
 * Diverse
 */
#mw-content-text li.gallerybox div.thumb {
  text-align: center;
  border: none;
  background-color: transparent;
  margin: 0;
}
div.thumb {
  display: flex;
  max-width: 90%;
  object-fit: contain;
}
div.gallerytext p {
  text-align: center;
}
#siteSub {
  font-size: 8.5pt;
  font-weight: normal;
  font-style: italic;
  color: #000;
}

span.mw-headline {
  word-wrap: break-word;
}

.venner {
  background: #D8D9DF;
  margin: 20px -20px -20px -20px;
  border-top: 4px solid #898279;
  padding: 3px 20px;
}
.venner ul {
  list-style: none;
}
.venner ul li {
  display: block;
  width: 230px;
  margin-right: 10px;
  float: left;
  padding-left: 10px !important;
  border-left: 1px dotted #898279;
}
.venner h2 {
  font-weight: normal;
  color: #898279;
  font-size: 100%;
  padding-top: 13px;
  border-bottom: 0;
  width: 280px;
  float: left;
  margin: 0;
}

/**
 * Skilte
 */
#stub,
.stub,
#resume,
#kronologi,
#kategorisering,
#wikify,
#serieoversigt,
#billede,
#disambiguation,
.dablink,
#merge,
#disputed,
#cleanup,
#spoilers {
  padding: 1em 0 1em 2.5em;
  margin: 0 0 1em 2em;
}

#stub,
.stub {
  background: url(/resources/comicwiki/icon_stub.gif) no-repeat left 0.85em;
}

#resume {
  background: url(/resources/comicwiki/icon_stub.gif) no-repeat left 0.85em;
}

#kronologi {
  background: url(/resources/comicwiki/icon_stub.gif) no-repeat left 0.85em;
}

#kategorisering {
  background: url(/resources/comicwiki/icon_cleanup.gif) no-repeat left 0.85em;
}

#wikify {
  background: url(/resources/comicwiki/icon_cleanup.gif) no-repeat left 0.85em;
}

#serieoversigt {
  background: url(/resources/comicwiki/icon_stub.gif) no-repeat left 0.85em;
}

#billede {
  background: url(/resources/comicwiki/icon_stub.gif) no-repeat left 0.85em;
}

#disambiguation,
.dablink {
  background: url(/resources/comicwiki/icon_disambiguation.gif) no-repeat left 0.85em;
}

#merge {
  background: url(/resources/comicwiki/icon_merge.gif) no-repeat left 0.85em;
}

#disputed {
  background: url(/resources/comicwiki/icon_disputed.gif) no-repeat left 0.85em;
}

#cleanup {
  background: url(/resources/comicwiki/icon_cleanup.gif) no-repeat left 0.85em;
}

#spoilers {
  background: url(/resources/comicwiki/icon_cleanup.gif) no-repeat left 0.85em;
}

#album-infoboks {
  padding: 1em 0 1em 2.5em;
  margin: 0 0 1em 0;
  background: url(/resources/comicwiki/icon_stub.gif) no-repeat left 0.85em;
}

#limited {
  margin: 0 0 1em 0;
}

/**
 * Tabeller
 */
table {
  font-size: 100%;
  color: #000308;
  background-color: white;
  /* Formater */
}
table td,
table th {
  vertical-align: top;
  padding: 3px 5px;
}
table.graylines td, table.graylines th {
  border: 1px solid #bebebe;
}
table.lightgraylines td, table.lightgraylines th {
  border: 1px solid #e0e0e0;
}
table.indhold {
  width: 100%;
}
table.indhold th:first-child {
  text-align: right;
  width: 34px !important;
}
table.indhold tr td:first-child {
  text-align: right;
}
table.indhold td,
table.indhold th {
  border-right: 1px solid #eee;
  padding: 5px 10px;
}
table.indhold td:last-child,
table.indhold th:last-child {
  border-right: 0;
}
table.indhold tr {
  border-bottom: 1px solid #eee;
}
table.indhold tr:last-child {
  border-bottom: 0;
}
table.oversigt td,
table.oversigt th {
  border-right: 1px solid #eee;
  padding: 5px 10px;
}
table.oversigt td:last-child,
table.oversigt th:last-child {
  border-right: 0;
}
table.oversigt tr {
  border-bottom: 1px solid #eee;
}
table.oversigt tr:last-child {
  border-bottom: 0;
}
table.tidslinje, table.skema {
  clear: both;
  border-collapse: collapse;
  background-color: #F9F9F9;
}
table.tidslinje td,
table.tidslinje th, table.skema td,
table.skema th {
  text-align: left;
  padding: 10px;
}
table.tidslinje td,
table.tidslinje th, table.skema td,
table.skema th {
  border: 1px solid #ddd;
}
table.help {
  margin: .5em 0 0 .5em;
  padding: .5em .5em .5em .5em;
  border: 1px solid #c4c8ff;
  background: #f7f7fe;
}
table.help th,
table.help td {
  vertical-align: top;
  text-align: left;
  padding: .5em;
  background-color: #ebebf9;
}
table.help th {
  background-color: #e2e4ff;
}
table.gallery {
  margin-bottom: 1.5em !important;
}
table.gallery th,
table.gallery td,
table.gallery tr {
  padding: 0;
}
table.gallery caption {
  margin-top: 1em !important;
}
table.gallery .thumb {
  padding: 0 !important;
  border: 0 !important;
}
table.gallery .gallerytext {
  margin-bottom: .5em;
}
table.gallery .thumb {
  width: auto !important;
}
table table.formater {
  clear: both;
  border-collapse: collapse;
  background-color: #F9F9F9;
}
table table.formater td,
table table.formater th {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: bottom;
}
table table.formater div {
  background: #ccc;
}
